@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.pp-project-title {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: left;
}

.pp-designerName {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
}

.pp-cont {
    width: 95%;
    margin-right: auto;
}

.pp-section {
    margin-bottom: 10%;
}

.pp-flexcontainer {
    display: flex;
}

.pp-flexcontainer2 {
    display: flex;
    justify-content: space-between;
}

.pp-flexcontainer3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.pp-pr-hero {
    width: 60%;
    height: 40%;
    margin-right: 3%;
}

.pp-lrg-img {
    width: 65%;
}

.pp-sml-img {
    width: 47%;
    
}

.pp-med-img {
    width:90%;
    margin-bottom: 3%;
}

.pp-micro-img {
    width: 85%;
    margin-bottom: 3%;
    height: auto;
}

.pp-portrait {
    width: 30%;
}

.large-pp-img{
    width: 100%;
}

.pp-project-synopsis {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
}

.pp-project-synopsis2 {
    width: 100%;
    margin-top:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}

.pp-project-synopsis3 {
    width:47%;
    margin-top:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}