<<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <!-- basic.html -->
        <title>basic.html</title>
        <meta charset = "UTF-8" />
        <LINK href="styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <div class="section">
                <h1>PROJECT TITLE</h1>
                <h2>FirstName LastName</h2>
            </div>

            <div class="section">
                <div class="flexcontainer2">
                    <p class="synopsis2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim pretium sit id scelerisque auctor tellus sit vitae nibh. Aenean pellentesque imperdiet morbi vitae varius sed pellentesque aliquet ultricies. Dignissim blandit ultrices vehicula convallis. Congue massa dui eu porttitor faucibus mi neque, venenatis. Congue massa dui eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim pretium sit id scelerisque auctor tellus sit vitae nibh. Aenean pellentesque imperdiet morbi vitae varius sed pellentesque aliquet ultricies. Dignissim blandit ultrices vehicula convallis. Congue massa dui eu porttitor faucibus mi neque, venenatis. Congue massa dui eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim pretium sit id scelerisque auctor tellus sit vitae nibh. Aenean pellentesque imperdiet morbi vitae varius sed pellentesque aliquet ultricies. Dignissim blandit ultrices vehicula convallis. Congue massa dui.</p>
                    <div class="flexcontainer3">
                        <img class="med-img" src="images/placeholder.png" alt="placeholder">
                        <img class="med-img" src="images/placeholder.png" alt="placeholder">
                    </div>
                </div>
            </div>

            <div class="section">
                <img src="images/placeholder.png" alt="placeholder">
            </div>

            <div class="section">
                <div class="flexcontainer2">
                    <img class="hero" src="images/placeholder.png" alt="placeholder">
                    <div class="flexcontainer3">
                        <img class="micro-img" src="images/placeholder.png" alt="placeholder">
                        <img class="micro-img" src="images/placeholder.png" alt="placeholder">
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim pretium sit id scelerisque auctor tellus sit vitae nibh. Aenean pellentesque imperdiet morbi vitae varius sed pellentesque aliquet ultricies. Dignissim blandit ultrices vehicula convallis. Congue massa dui eu porttitor faucibus mi neque, venenatis. Congue massa dui eu. </p>
            </div>

            <div class="section">
                <div class="flexcontainer2">
                    <img class="sml-img" src="images/placeholder.png" alt="placeholder">
                    <img class="sml-img" src="images/placeholder.png" alt="placeholder">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim pretium sit id scelerisque auctor tellus sit vitae nibh. Aenean pellentesque imperdiet morbi vitae varius sed pellentesque aliquet ultricies. Dignissim blandit ultrices vehicula convallis. Congue massa dui eu porttitor faucibus mi neque, venenatis. Congue massa dui eu. </p>
            </div>

        </div>
    </body>
</html>